* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 22px;
}

body {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 35px;
}

img {
  width: 640px;
  margin: 40px 0 40px 0;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 600px;
  height: 300px;
}

th,
td {
  border: 1px solid black;
  text-align: center;
}

.hilight {
  color: blueviolet;
}

.super {
  vertical-align: super;
  font-size: small;
}

.sub {
  vertical-align: sub;
  font-size: medium;
}

.idiom-div {
  padding-top: 20px;
}

.explain-div {
  color: gray;
}
